<!--The content below is only a placeholder and can be replaced.-->
<div id="1" appMouse [width]="gerWidth()" [length]="getLenth()"  class="firstdiv">
<div class="page-header" class="mainheader"><h1 > Таблица Студетов </h1></div>
<div *ngIf="checkAddOnly() || checkDelOnly()|| checkEditOnly()" class="backdrop"></div>
<div class="panel" class="maintable">
  <div >
    <div >
      <div >
        <div class="addcontainer">
          <div class="menuitem">
            Подсветка <br>Двоечников
            <input type="checkbox" [(ngModel)]="flag">
            </div>
          <div class="menuitem"> Введите ФАМИЛИЮ <br>для поиска:<br>
            <input size="12" type="text" class="text" [(ngModel)]="surname">
          </div>
          <div class="menuitem">
            Фильтр по баллу:
            <select #product name="marks" id="mar" (change)="changeFilter(product.options[product.selectedIndex].value)">
              <option value="1" selected  >Больше 1</option>
              <option value="2" >Больше 2</option>
              <option value="3" >Больше 3</option>
              <option value="4" >Больше 4</option>
            </select>
            <br>
          </div>
          <div class="menuitem">
            Родились от:
            <input type="date" name="calendar" (change)="createDate()"
                   [(ngModel)]="mindate" min="1999-06-04" max="2012-05-29">
          </div>
          <div class="menuitem">
            Родились до:
            <input type="date" name="calendar" (change)="createDate()"
                   [(ngModel)]="maxdate"  min="1999-06-04" max="2012-05-29">
          </div>
        </div>
      </div>
    </div>
  </div>
  <table *ngIf="checkAdd()&& checkDel()&& checkEdit()" class="tablestyle" class="table table-striped">
    <thead>
    <tr >
      <th appTouchMenu [changeColor]="changBack()" [style.background]="backcolor[1]" >
        Имя <p><input   type="button" value="отсортировать" (click)="sortName() || changeBackColorThr(1)"></p></th>
      <th appTouchMenu  [changeColor]="changBack()" [style.background]="backcolor[2]" >
        Фамилия <p><input type="button" value="отсортировать" (click)="sortSerName() || changeBackColorThr(2)"></p></th>
      <th appTouchMenu  [changeColor]="changBack()" [style.background]="backcolor[3]" >
        Отчество <p><input type="button" value="отсортировать" (click)="sortPatronymic() || changeBackColorThr(3)"></p></th>
      <th appTouchMenu  [changeColor]="changBack()" [style.background]="backcolor[4]" >
        Дата Рождения <p><input type="button" value="отсортировать" (click)="sortDate() || changeBackColorThr(4)"></p></th>
      <th appTouchMenu  [changeColor]="changBack()" [style.background]="backcolor[5]">
        Средний балл <p><input type="button" value="отсортировать" (click)="sortMark() || changeBackColorThr(5)"></p></th>
      <th appTouchMenu  [changeColor]="changBack()" colspan="2">
        <input class="button_add_style" type="button" value="Добавить студента" (click)="openAddDialog()" value="Добавить студента">
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of database" [style.background]="checkSearch(student.surname)|| checkMark(student.mark)">
      <td *ngIf="checkConditionsFilters(student.mark, student.datebd)">
        {{student.name}}</td>
      <td *ngIf="checkConditionsFilters(student.mark, student.datebd)">
        {{student.surname}}</td>
      <td *ngIf="checkConditionsFilters(student.mark, student.datebd)">
        {{student.patronymic}}</td>
      <td *ngIf="checkConditionsFilters(student.mark, student.datebd)">
        {{student.datebd| appDatePipe}}</td>
      <td *ngIf="checkConditionsFilters(student.mark, student.datebd)">
        {{student.mark}}</td>
      <td *ngIf="checkConditionsFilters(student.mark, student.datebd)">
        <input type="button" class="button_del_style"  (click)="openDeleteStudentDialog(student)" value="Удалить">

      </td>
      <td *ngIf="checkConditionsFilters(student.mark, student.datebd)">
        <input type="button" class="button_edit_style"  (click)="openEditor(student)" value="редактирвать">
      </td>
    </tr>
    </tbody>
  </table>
</div>


</div>
<div> Общий список студентов </div>
<div>Грязный пайп</div>
<div>{{database|appStudentsArrDirtyPipe}}</div>
<div>обычный пайп</div>
<div *ngFor="let student of database" [style.background]="checkSearch(student.surname)|| checkMark(student.mark)">
  {{student.name | appStudentnamesPipe:student.surname: student.patronymic }}
</div>
