<div *ngIf="HideEditCheck()" [title]="HideEditCheck()" class="menu" >
  <form [formGroup] = "myform"  (ngSubmit)="submit(myform)" >
    <div class="editor_student_style">
      <h1 >Редактирование Студента <br></h1>
      <input class="form-control" label="Имя"   formControlName="name">
      <div class="error" *ngIf="isControlInvalid('name')">
        Имя должно состоять только из русских букв(без пробелов) и не совпадать с Фамилией и Отчеством
      </div>
      <input class="form-control"  formControlName="surname">
      <div class="error" *ngIf="isControlInvalid('surname')">
        Фамилия должна состоять только из русских букв(без пробелов) и не совпадать с именем
      </div>
      <input class="form-control"   formControlName="patronymic">
      <div class="error" *ngIf="isControlInvalid('patronymic')">
        Отчество должно состоять только из русских букв(без пробелов) и не совпадать с именем
      </div>
      <input class="form-control"   formControlName="datebd">
      <div class="error" *ngIf="isControlInvalid('datebd')">
        формат даты мм/дд/гггг, дата должна отличаться более, чем на 10 от текущей!
      </div>
      <input class="form-control"  formControlName="mark">
      <div class="error" *ngIf="isControlInvalid('mark')">
        средний балл - только число в формате x.x или x
      </div>
      <button type="submit" >Сохранить</button>
      <button  (click)="HideEditNull()">Отмена</button>
    </div>
  </form>
</div>
