.delete_student_style{
  padding: 0.7vw 0.7vw 0.7vw 0.7vw;
  font-size: 2vh;
  background: #e9e9e2;
  position:absolute;
  width: 20vw;
  height: 20vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.editor_student_style{
  padding: 0.7vw 0.7vw 0.7vw 0.7vw;
  font-size: 2vh;
  background: #ceccc9;
  position:absolute;
  width: 33vw;
  height: 55vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.add_student_style{
  padding: 0.7vw 0.7vw 0.7vw 0.7vw;
  font-size: 2vh;  background: #e1e2df;
  position:absolute;
  width: 40vw;
  height: 70vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.wornings {
font-weight: bold;
}
