@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 2vh;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 15pt;
  float: right;
}
